.music {
  animation: slideInFromRight 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
    overflow: auto;
}

.outlet {
  width: 0%;
  position: absolute;
  height: 0%;
}

.outlet.active {
  width: 100%;
  height: 100%;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.list_item {
  padding: 0.4% 1.5%;
  color: inherit;
    border-top: 0.5px solid transparent;
  border-bottom: 0.5px solid transparent;
  font-size: clamp(10px, 2.4vh, 18px);
  text-decoration: none;
}

.list_item:first-of-type.selected{
   border-top: 0.5px solid transparent;
}

.list_item.selected {
  background: linear-gradient(#4c95cd 0%, #407fbe 80%, #3672b2 100%);
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  color: white;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
