.shows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list {
  height: max-content;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.event {
  padding: 0.4% 1.5%;
  color: inherit;
    border-top: 0.5px solid transparent;
  border-bottom: 0.5px solid transparent;
  font-size: clamp(10px, 2.4vh, 18px);
  text-decoration: none;
}

.event:first-of-type.active{
   border-top: 0.5px solid transparent;
}

.event.active {
  background: linear-gradient(#4c95cd 0%, #407fbe 80%, #3672b2 100%);
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  color: white;
}