.page {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: black;
  font-family: monospace;
  user-select: none;
  -webkit-user-select: none;
}

.player {
  aspect-ratio: 9 / 15;
  min-height: 400px;
  max-height: 600px;
  min-width: 225px;
  max-width: calc(600px * 9 / 15);

  width: min(90vw, 1000px);
  height: min(90vh, 1200px);

  width: min(90vw, min(90vh * 9 / 15, 1000px));
  height: min(90vh, min(90vw * 15 / 9, 1200px));

  border: 1px solid black;
  border-radius: 2vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  user-select: none;
}

.player_screen {
  border: 1px solid black;
  height: 35%;
  display: flex;
  flex-direction: column;

  width: 75%;
  border-radius: 0.7vh;
}

.outlet {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.player_scrollwheel {
  aspect-ratio: 1 / 1;
  height: 48%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.center_button {
  background: linear-gradient(230deg, rgb(244, 245, 241), #dddddd);
  z-index: 5;
  height: 20%;
  width: 20%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 200px;
  position: absolute;
  user-select: none;
}

.center_button:active {
  scale: 0.95;
  box-shadow: 0 0 3px #000 inset;
}

.scrollwheel {
  border: 1px solid black;
  border-radius: 1000px;
  height: 82%;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 4;
  background-color: rgb(251, 251, 251);
  clip-path: circle(50% at 50% 50%);
  user-select: none;
}

.menu {
  aspect-ratio: 1 / 1;
  text-align: center;
  width: 100%;
  position: absolute;
  height: auto;
  background-color: white;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(99% 1px, 1% 1px, 50% calc(50% - 4px));
  z-index: 3;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  font-size: clamp(12px, 2.8vh, 18px);
}

.menu:active {
  box-shadow: 0 0px 8px #000 inset;
}

.menu_outline {
  aspect-ratio: 1 / 1;
  text-align: center;
  width: 100%;
  position: absolute;
  height: auto;
  background-color: black;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(100% 0, 0 0, 50% 50%);
  z-index: 2;
  user-select: none;
}

.rwd {
  aspect-ratio: 1 / 1;
  text-align: left;
  width: 100%;
  position: absolute;
  height: auto;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(0 0, 0 100%, 50% 50%);
  z-index: 3;
  cursor: pointer;
}

.rwd:active {
  box-shadow: 0 0px 8px #000 inset;
}

.rwd_outline {
  aspect-ratio: 1 / 1;
  text-align: left;
  width: 100%;
  position: absolute;
  height: auto;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(0 0, 0 100%, 50% 50%);
  z-index: 2;
}

.rwd_icon {
  left: 1%;
  margin: 0;
  padding: 0;
  width: 7%;
  height: auto;
  position: absolute;
}

.fwd {
  aspect-ratio: 1 / 1;
  text-align: left;
  width: 100%;
  position: absolute;
  height: auto;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(100% 0%, 100% 100%, 50% 50%);
  border: 1px solid black;
  z-index: 3;
  user-select: none;

  cursor: pointer;
}

.fwd:active {
  box-shadow: 0 0px 8px #000 inset;
}

.fwd_outline {
  aspect-ratio: 1 / 1;
  text-align: left;
  width: 100%;
  position: absolute;
  height: auto;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
  z-index: 2;
  user-select: none;
}

.fwd_icon {
  right: 1%;
  margin: 0;
  padding: 0;
  width: 7%;
  height: auto;
  position: absolute;
  user-select: none;
}

.pp {
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  text-align: center;
  width: 100%;
  position: absolute;
  height: auto;
  background-color: white;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(2px 100%, calc(100% - 2px) 100%, 50% 51%);
  z-index: 3;
  cursor: pointer;
  user-select: none;
}

.pp:active {
  box-shadow: 0 0px 8px #000 inset;
}
.pp_outline {
  aspect-ratio: 1 / 1;
  text-align: center;
  width: 100%;
  position: absolute;
  height: auto;
  background-color: black;
  border-radius: 1000px;
  top: 0;
  clip-path: polygon(100% 100%, 0 100%, 50% 50%);
  z-index: 2;
  user-select: none;
}

.pp_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 2%;
  height: auto;
  position: absolute;
  user-select: none;
}

.pp_icon {
  aspect-ratio: 1 / 1;
  width: 6%;
  margin: -0.5%;
  height: auto;
  user-select: none;
}

.music {
}

.header {
  width: 100%;
  height: 11%;
  font-size: clamp(10px, 2.4vh, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid black;
  user-select: none;
}

.header_icon {
  left: 0;
  position: absolute;
  user-select: none;
}

.header_battery {
  position: absolute;
  right: 2%;
  aspect-ratio: 1 / 1;
  height: 100%;
  user-select: none;

  width: auto;
}
